.container {
    max-width: 50%;
    margin-top: 5%;
    font-size: calc(0.75em + 1vmin);
}

ul {
    list-style: none;
    text-align: left;
}

li {
    margin-top: 2%;
}

h1 {
    text-align: center;
}

.btn {
    padding: 0.25rem 0.5rem;
}

#submit {
    margin-top: 3%;
}